/* Make header title bigger */
#body_container .bigeventgrid .event span.name{
	font-size: 24px;
	line-height: 125%;
}

/* Show date and time */
/* date */
#body_container .bigeventgrid .event span.dateinfo1 {
	font-size: 18px;
	display: block;
}
/* time */
#body_container .bigeventgrid .event span.dateinfo2 {
	font-size: 16px;
}

/* Remove description */
#body_container .bigeventgrid .event span.description{
	display: none;
}

/* Increase host name */
#body_container .bigeventgrid .event span.hosted_by{
	font-size: 16px;
}
