/* kiosk_style.css */

body {
	color : #eee;
	margin : 0px;
	padding : 0px;
	background: black;
	font-size: 9pt;
	min-width: 960px;
}

body.kiosk {
	background: black url(http://members.geekdom.com/media/img/layout/crown_bg.png) no-repeat top right fixed;

}

body.kiosk .container, 
body.kiosk .row {
	width : 100%;
	margin : 0px;
	padding : 0px;
}

body.kiosk #content_body {
	width : 77%;
	float: left;
	margin : 0px;
	padding : 0px;
}

body.kiosk #content_sidebar {
	position: fixed;
	top : 0px;
	right: 0px;
	float: right;
}

body.desktop {
	padding-top : 40px;
	background: #909090 url(http://members.geekdom.com/media/img/layout/desktop_bg.gif) repeat-y top center;
}

body.desktop #body_container {
	padding-bottom: 40px;
}

body.desktop #content_sidebar {
	position: fixed;
	right: 50%;
	margin-right: -470px;
}

.inner {
	padding : 20px;
}

.navbar .brand {
	margin-left : 0px;
}


#content_body h1 {
	color : white;
	font-size : 40pt;
	letter-spacing : -1px;
}

h2 {
	color : #ccc;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
	font-style: normal;
	color : red;
}

ul, li {
	margin : 0px;
	padding : 0px;
}

.bigmembergrid {
	margin-right: -30px;
}

.bigmembergrid li {	
	float: left;
	background: #333;
	display: block;
	margin: 10px 10px 0 0;
	width: 275px;
	height: 60px;
	padding: 0px;
	overflow: hidden;
	border-radius: 5px;
}

.bigmembergrid li img {
	float: left;
	height : 60px;
	width : 60px;
	margin-right : 10px;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.bigmembergrid li span {
	display: block;
}

.bigmembergrid li span.membername {
	font-size : 1.2em;
	font-weight: bold;
	letter-spacing: -1px;
	margin-top : 2px;
}

.bigmembergrid li span.membercompanyname {
	color : #ccc;
	display: block;
	font-style: italic;
	word-wrap: normal;
	overflow: hidden;
	font-weight: bold;
	font-size : 1em;
	line-height: 1em;
	margin-bottom : 1px;
}

.bigmembergrid li span.memberofficenum {
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	color: red;
	margin-right: 5px;
	line-height: 2.5em;
}

.bigmembergrid li span.memberskills {
	color: #999;
	font-size: .8em;
	line-height: 1em;
	font-style: italic;
}

.bigmembergrid a,
.bigmembergrid a:hover {
	color : white;
	text-decoration: none;
}

#header {
	width : 80%;
}

#header h1 {
	color : white;
	font-size : 28pt;
	letter-spacing : -1px;
	margin-bottom : 15px;
}

#header.userprofile_page h1 {
	margin-bottom : 10px;
}

.floatright {
	float: right;
	margin: 0 0 30px 30px;
}

.floatleft {
	float: left;
	margin: 0 30px 0px 0;
}

#header-fixed img.floatleft {
	margin : 30px;
}

.profilepage_subheader {
	font-size : 1.5em;
	color : red;
	font-weight: bold;
	letter-spacing: -1px;
}

.profilepage_membersince {
	font-weight: bold;
	text-transform: uppercase;
	color : #999;
	display: block;
	font-size : .8em;
}

hr {
	clear: both;
	margin : 30px 0;
	border: none;
	border-bottom : 1px solid #666;
}

.profilepage_bio p {
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
}

.user_skills {
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	color : red;
}

.profilepage_officehours {
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	color : #ccc;	
}

h3 {
	color : #ccc;
}

.profilepage_contactinfo p {
	font-size : 1.3em;
	margin-bottom : 1em;
}

.profilepage_contactinfo,
.profilepage_contactinfo a {
	color : white;
	font-weight: bold;
}

.profilepage_contactinfo strong {
	color : #666;
	width : 110px;
	display: inline-block;
}

#pageactions,
#pageactions li {
	margin : 0px;
	padding : 0px;
	list-style: none;
}

#pageactions li {
	display: inline;
}

.sidebarmemberlist {
	font-size : .9em;
}

.sidebarmemberlist,
.sidebarmemberlist li {
	margin : 0px;
	list-style: none;
	padding : 0 10px;
}

.sidebarmemberlist li {
	margin-bottom : 1.5em;
}

.sidebarmemberlist a {
	color : #ccc;
}

.sidebarmemberlist li.herenow {
/*	padding-left: 22px;
	margin-left : -22px;
*/	background: url(http://members.geekdom.com/media/img/layout/tinycrown.png) no-repeat top left;
	margin-left: -15px;
	padding-left: 25px;
}

.sidebarmemberlist li .membername {
	display: block;
	font-size : 1.2em;
	font-weight: bold;
	color : white;
	line-height : 10px;
	margin-bottom : 5px;
}

.sidebarmemberlist li .memberofficenum {
	float: right;
	font-size : .8em;
	font-weight: bold;
	color : #ccc;
	text-transform: uppercase;
}

.sidebarmemberlist li .membercompanyname {
	display: block;
	color : #999;
	font-weight: bold;
	font-size: 1em;
	line-height: 1em;
}

.sidebarmemberlist li .memberskills {
	display: block;
	margin-top : 4px;
	font-size : .9em;
	line-height: 1.1em;
	font-style: italic;
	color : #999;
}

ul.sidebarmemberlist li a:hover {
	display: block;
	background : black;
}

#content_sidebar h2 {
	color : #ccc;
	letter-spacing: -1px;
	line-height: 1em;
	margin-bottom: 15px;
}

.filterbox {
}

#cta-banner {
	background : url(http://members.geekdom.com/media/img/layout/ribbon-bg.png) no-repeat center left;
	position : fixed;
	right : 0;
	bottom : 65px;
	z-index: 10;
	padding : 15px 20px 15px 40px;
	box-shadow : 5px 2px 5px 0px black;
}

#cta-banner p {
	line-height: 1em;
	color : #ffcccc;
	font-size : 1.2em;
	font-weight: bold;
	text-shadow: 2px 2px 2px #a40000;
	margin : 0;
	padding : 0;
	display: block;
	padding-bottom : 4px;
}

#cta-banner p em {
	color : white;
}

#cta-banner a {
	color : white;
	text-decoration: underline;
}


ul#pageactions {
	margin-bottom : 30px;
	clear: both;
}

ul#pageactions .btn.btn-success em {
	color : #bfdbba;
	font-size: 1em;
}

ul#pageactions .btn.btn-warning em {
	color : #f3e6d4;
	font-size: 1em;
}

ul#pageactions .btn {
	margin-right : 5px;
}

ul#pageactions .spacer {
	display: inline-block;
	font-style: italic;
	color : #999;
	font-size : .8em;
}

.userstatus {
	float: right;
	font-size: 1.4em;
	line-height: 2em;
	color : #00d500;
	letter-spacing: -1px;
	font-weight: bold;
	padding-left : 40px;
	background: url(http://members.geekdom.com/media/img/layout/bigcrown.gif) no-repeat center left;
}

#headeralert_container {
	position: absolute;
	text-align: center;
	width : 400px;
	left : 50%;
	margin-left : -200px;
}

#headeralert.alert {
	padding: 15px 10px 10px 10px;
	margin: -8px auto 0px auto;
}




.tweet {
	display: block;
	margin-top : 20px;
}

.tweet .content {
	display: block;
	font-weight: bold;
	color: white;
	font-size : 1em;
}

.tweet .meta {
	display: block;
	font-weight: bold;
	font-size: .8em;
	color: #999;
}

.bigeventgrid, 
.bigeventgrid .event {
	margin : 0px;
	padding : 0px;
	list-style: none;
}

.bigeventgrid {font-weight: normal;}

.bigeventgrid .event {
	width: 300px;
	height: 160px;
	float: left;
	padding: 10px;
	background: #333;
	margin: 0 10px 10px 0;
	list-style: none;
}

.bigeventgrid .event.private {
	opacity: .5;
	-moz-opacity: .5;
	filter:alpha(opacity=.55);
}

.bigeventgrid .event .name {
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 5px;
	line-height: 1em;
	font-size: 1.2em;
	display: block;
}

.bigeventgrid .event .name a {
	color : white;
}

.bigeventgrid .event .dateinfo1,
.bigeventgrid .event .dateinfo2 {
	font-weight: bold;
	color: #CCC;
	display: block;
	margin-bottom: 5px;
	font-size: .9em;
	line-height: 1em;
}

.bigeventgrid .event .description {
	font-size: 0.9em;
	line-height: 1.2em;
	display: block;
	color: #aaa;
	font-style: italic;
}

.bigeventgrid .event .hosted_by {
	font-weight: bold;
	color: red;
	text-align: right;
	float: right;
	font-size: .8em;
	display: block;
	margin-top : 5px;
}

body.desktop .bigeventgrid .event {
	width: 580px;
	height: auto;
}

body.desktop .bigeventgrid .event .name {
	font-size: 1.6em;
	line-height: 1em;
}

body.desktop .bigeventgrid .event .dateinfo1,
body.desktop .bigeventgrid .event .dateinfo2 {
	font-size: .9em;
	line-height: 1em;
}

body.desktop .bigeventgrid .event .description {
	font-size: 0.9em;
	line-height: 1.2em;
}

body.desktop .bigeventgrid .event .hosted_by {
	font-style: italic;
}




/* customized navbar color scheme */

div.navbar-inner {
	background-color: #E00;
	background-image: -moz-linear-gradient(top, #E00, #A00);
	background-image: -ms-linear-gradient(top, #E00, #A00);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E00), to(#A00));
	background-image: -webkit-linear-gradient(top, #E00, #A00);
	background-image: -o-linear-gradient(top, #E00, #A00);
	background-image: linear-gradient(top, #E00, #A00);
}

.navbar .nav > li > a { color : #fcc; }


/*
#body_container {
	width : 100%;
}

body #content_body {
	width : 75%;
	min-width: 670px;
}

body #content_sidebar {
	background: #333;
	width : 25%;
	min-width : 240px;
}


*/


 /* user form styles */

label {
	color: #ccc;
	margin-top : 10px;
	margin-bottom : 0;
}

hr {
	margin : 20px 0;
	clear: both;
}

hr.spacer { border : none; }


.eventwelcome .name {
	font-size: 10em;
	line-height: 1em;
	font-weight: bold;
	letter-spacing: -4px;
	display: block;
}

.eventwelcome .hosted_by {
	font-size: 3em;
	line-height: .8em;
	font-weight: bold;
	letter-spacing: -2px;
	display: block;
	color : #999;
	margin-top : .7em;
}




.modal-body { color : #333; }




.eventfeed,
.eventfeed li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.eventfeed li {
	border-top : 1px solid #666;
	margin-top : 1em;
	padding-top : 1em;
}

.eventfeed .event .name a {
	font-size : 1.2em;
	font-weight: bold;
	display: block;
	color : #ccc;
	text-decoration: none;
}

.eventfeed .event .name a:hover {
	color : white;
	text-decoration: underline;
}

.eventfeed .event .dateinfo1 {
	font-style: italic;
	color : #999;
}


.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



.memberofficenum.herenow {
	padding-right : 20px;
	background: url(http://members.geekdom.com/media/img/layout/tinycrown.png) no-repeat center right;
}






