body {
	padding-top : 60px;
}

.sidebar_menu a.btn {
	margin-bottom : 10px;
}

.sidebar_menu {
	display: block;
	margin-bottom : 20px;
}

.sidebar_menu h3 {
	color : #999;
	font-size : 1em;
}

.copyright {
	margin-top : 40px;
	padding-top : 40px;
	border-top : 1px solid #eee;
	text-align: center;
	color : #ccc;
}

.floatright {
	float: right;
	margin : 0 0 20px 20px;
}

.user_companyname {
	font-weight: bold;
	margin-top : -10px;
	margin-bottom : 10px;
	display: block;
	font-size : 1.2em;
	color : #999;
}