Django==1.4
PIL==1.1.7
django-admin-tools==0.4.1
django-guardian==1.0.4
django-mailchimp==0.1.30
django-pagination==1.0.7
django-uni-form==0.9.0
easy-thumbnails==1.0.3
feedparser==5.1.2
pusher==0.6
python-dateutil==2.1
six==1.1.0
wsgiref==0.1.2
