<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ title }} - Geekdom</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- html5 boilerplate reset stylesheet -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">

  {{ form.media }}
  
</head>

<body>

  <div id="background-frame" style="background-image:url({{ background_image }});"></div>

  <div id="container">

    <header class="clearfix">        
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
		    <div class="container">				
				<a class="brand" href="#">gkdm</a>
				<ul class="nav">
					{% if request.user.is_authenticated %}
					<li><a href="/members">Members</a></li>				
					<!-- <li><a href="/forums">Forums</a></li> -->
					<li><a href="/events">Events</a></li>
					<li><a href="/account">My Account</a></li>
					
				    {% if request.user.is_superuser %}
						<li class="dropdown" id="admin-menu">
							<a href="#admin-menu" class="dropdown-toggle" data-toggle="dropdown">
								Admin
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
							    <li><a href="/manager/members/">All Members</a></li>
							    <li><a href="/manager/members/new">New Member</a></li>
							    <li><a href="/admin">Django Admin</a></li>
							</ul>
						</li>
				    {% endif %}
					{% endif %}
				</ul>
				
				<ul class="nav pull-right">
					{% if request.user.is_authenticated %}
						<li><a href="/logout">Logout</a></li>
					{% else %}
						<li><a href="/login">Login</a></li>
					{% endif %}
				</ul>
				
		    </div>
		  </div>
		</div>
        
    </header>


    
    <div class="container clearfix">
		
        {% if messages %}{% autoescape off %}
	        {% for message in messages %}
			<div class="row">
				<div class="span12 alert alert-{% if message.tags %}{{ message.tags }}{% else %}block{% endif %}">
					{{ message|urlize }}
				</div>
			</div>
	        {% endfor %}
    	{% endautoescape %}{% endif %}
	    
		
		<div class="row">
		    <div id="main" role="main" class="span8">
		    
				{% block content-top %}{% endblock %}
            
				<div class="titlebox">
		            <h1 id="page-title">{{ title }}</h1>
		            <p id="page-subtitle">{{ subtitle }}</p>
		        </div>
        
		        {% block content %}{% endblock %}

		    </div>

		    <div id="sidebar" class="span4">        
		        {% block sidebar %}{% endblock %}
		    </div>
		
		</div>
		

	    <div class="row">
			<div class="copyright span12">
			    &copy; Geekdom 2012
			</div>
	    </div>
		
    
    </div>

  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap-dropdown.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
  
  <script>
	$(document).ready(function () {
	  $('.dropdown-toggle').dropdown();
	});
	  
	$('input#search').quicksearch('table tbody tr', {});    
  </script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
