{% extends "global/base.html" %}

{% load uni_form_tags %}

{% block content %}

    {{ form.errors }}
    {{ uform.errors }}
    {{ pform.errors }}

	{% if instructions %}
		<div class="form_instructions">{{ instructions }}</div>
	{% endif %}
	
    <form action="" method="post" enctype="multipart/form-data">

    	<ul>
    		{{ form|as_uni_form }}
    		{{ uform|as_uni_form }}
    		{{ pform|as_uni_form }}
    	</ul>
	
	
    	{% csrf_token %}
    	<input type="submit" value="Submit" />

    </form>

{% endblock %}
