{% extends "global/base.html" %}

{% block content %}

<table class="billing_grid">
    
    <tr>
        <th>Name</th>
        <th>Member Since</th>
        <th>Membership Type</th>
        <th>Current Balance</th>
        <th>Actions</th>
    </tr>

    {% for user in users|dictsort:"first_name" %}
        <tr>
            <td><a href="/manager/members/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
            <td>{{ user.date_joined|date:"m/d/y" }}</td>
            <td>{{ user.userprofile.membership_type }}</td>
            <td>${{ user.userprofile.account_balance }}</td>
            <td><a href="/manager/members/{{ user.id }}">View</a> / <a href="/manager/members/{{ user.id }}/edit">Edit</a></td>
        </tr>
    {% endfor %}

</table>

<hr />

<!-- <p><a href="/billing/run">Run Billing Manually</a></p> -->

{% endblock %}

{% block sidebar%}

<h3>Mail</h3>
<ul class="sidebar_menu">
  <li><a href="/manager/members/email_all_members">Email all <em>active</em> members</a></li>
</ul>

<h3>Misc. Reports</h3>

<ul class="sidebar_menu">
  <li><a href="/manager/members/incomplete">Members with incomplete profiles</a></li>
  <li><a href="/manager/members/missing_stuff">Members who are missing stuff</a></li>
  <li><a href="/manager/members/office_num">Members w/blank office</a></li>
</ul>

{% endblock %}