{% extends "global/base.html" %}
{% load thumbnail %}
{% load pagination_tags %}

{% block content %}

<ul class="user_photo_grid clearfix">
    
	{% autopaginate users 9 %}
    {% for user in users %}
		<li>
			<a href="/members/{{ user.id }}">
				<span class="image" style="background-image:url({% if user.userprofile.image %}{% thumbnail user.userprofile.image 170x170 crop %}{% else %}{{ MEDIA_URL }}img/Richard-Branson.jpg{% endif %});">
					<span class="text"><p>{{ user.first_name }} {{ user.last_name }}</p></span>
				</span>
			</a>
		</li>
    {% endfor %}
	
	{% if not users %}
		<p><em>No members matched your search terms.</em></p>
	{% endif %}

</ul>

{% paginate %}

{% endblock %}

{% block sidebar%}

	<div class="section">
		<h3>Search by name</h3>
		
		<form action="" method="GET" class="alt clearfix">
			<input id="name_query" type="text" name="name_query" value="{{ name_query }}" />
			<button type="submit">Search</button>
			{% csrf_token %}
		</form>
	
	</div>
	
	<div class="section">		
		<h3>Search by skill</h3>
		
		<form action="" method="GET" class="alt clearfix">
			<input id="skill_query" type="text" name="skill_query" value="{{ skill_query }}" />
			<button type="submit">Search</button>
			{% csrf_token %}
		</form>
		
	</div>
	
	<div class="section">

		<h3>Newest Members</h3>
		
		<ul class="new_member_list">
			{% for member in newest_members %}
				<li>
					<span class="membername"><a href="/members/{{ member.id }}">{{ member.get_full_name }}</a></span>
					<span class="skills">{{ member.userprofile.skills }}</span>
					<span class="datejoined">Joined {{ member.date_joined|date:"m/d/y" }}</span>
				</li>
			{% endfor %}
		</ul>
		
	</div>

{% endblock %}