<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>Select event to change | Django site admin</title>

	<style>

		body {
			margin : 0px;
			font-family : sans-serif;
			padding : .5in;	
		}

		h1 {
			letter-spacing : -1px;
		}

		table {
			font-size : 10pt;
			text-align: left;
		}

		th {
			border-bottom : 2px solid #ccc;
		}

		tr {
		}

		td {
			border-right : 1px solid #ccc;
			border-bottom : 1px solid #ccc;
			padding : 10px;
		}

		span.name {
			width : 12em;
			display: block;
			font-weight: bold;
		}

	</style>

</head>

<body>

	<h1>Member Skills Report - {{ today }}</h1>

	<table>

	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Skills</th>
	</tr>

	{% for member in members|dictsort:'first_name' %}<tr>
		<td><span class="name">{{ member.get_full_name }}</span></td>
		<td>{{ member.email }}</th>
		<td>{{ member.my_profile.skills }}</td>
	</tr>{% endfor %}

	</table>

</body>

</html>