<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>Membership Type Report - {{ today }}</title>

	<style>

		body {
			margin : 0px;
			font-family : sans-serif;
			padding : .5in;	
		}

		h1 {
			letter-spacing : -1px;
		}

		table {
			font-size : 10pt;
			text-align: left;
		}

		th {
			border-bottom : 2px solid black;
		}

		tr {
		}

		td {
			border-right : 1px solid black;
			border-bottom : 1px solid black;
			padding : 10px;
		}

		span.name {
			width : 12em;
			display: block;
			font-weight: bold;
		}

	</style>

</head>

<body>

	<h1>Membership Type Report - {{ today }}</h1>
	<p><em>Active members only</em></p>

	<table>

	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Membership Type</th>
		<th>Office Num</th>
	</tr>

	{% for member in members|dictsort:'first_name' %}<tr>
		<td>{{ member.id }}</td>
		<td><span class="name">{{ member.get_full_name }}</span></td>
		<td>{{ member.my_profile.membership_type.name }}</td>
		<td>{{ member.my_profile.office_num }}</td>
	</tr>{% endfor %}

	</table>

</body>

</html>