{% extends "global/base.html" %}
{% load thumbnail %}

{% block content-top %}

	<img class="user_profilepic floatright" src="{{ user.my_profile.get_mugshot_url }}" alt="{{ user.get_full_name }}" />

{% endblock %}

{% block content %}

<span class="user_companyname">
	{% if user.get_profile.company_name %}{{ user.get_profile.company_name }}, {% endif %}
	{% if user.get_profile.office_num %}
		Office {{ user.get_profile.office_num }}
	{% else %}
		Community Member
	{% endif %}
</span>

<p><em>Member since {{ user.date_joined|date:"m/d/y" }}</em></p>

{% if user.get_profile.bio %}<div class="well">{{ user.get_profile.bio|linebreaks }}</div>{% endif %}

{% if user.get_profile.skills %}
	<p class="user_skills"><strong>Skills:</strong> {{ user.get_profile.skills }}</p>
{% endif %}


<p>
	{% if user.get_profile.available_for_office_hours %}<strong>Office hours:</strong> {{ user.get_profile.available_for_office_hours }}<br />{% endif %}
</p>

<hr />

<div class="contactinfo">
	<h3>Contact info:</h3>		

	{% if user.email %}<p><strong>Email:</strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>{% endif %}
	{% if user.get_profile.phone_number %}<p><strong>Phone:</strong> {{ user.get_profile.phone_number }}</p>{% endif %}
	{% if user.get_profile.gchat %}<p><strong>gChat:</strong> {{ user.get_profile.gchat }}</p>{% endif %}
	{% if user.get_profile.skype %}<p><strong>Skype:</strong> {{ user.get_profile.skype }}</p>{% endif %}
	{% if user.get_profile.twitter %}<p><strong>Twitter:</strong> <a href="{{ user.get_profile.twitter }}" target="_blank">{{ user.get_profile.twitter }}</a></p>{% endif %}
	{% if user.get_profile.facebook %}<p><strong>Facebook:</strong> <a href="{{ user.get_profile.facebook }}" target="_blank">{{ user.get_profile.facebook }}</a></p>{% endif %}
	{% if user.get_profile.linkedin %}<p><strong>LinkedIN:</strong>  <a href="{{ user.get_profile.linkedin }}" target="_blank">{{ user.get_profile.linkedin }}</a></p>{% endif %}
	{% if user.get_profile.website %}<p><strong>Website:</strong>  <a href="{{ user.get_profile.website }}" target="_blank">{{ user.get_profile.website }}</a></p>{% endif %}

</div>

{% endif %}

{% endblock %}






{% block sidebar%}

  <div class="sidebar_menu">
    {% if request.user.is_superuser %}
      <a href="/members/{{ user.id }}/message" class="btn btn-primary span4">Send this member a message</a>
      <a href="/manager/members/{{ user.id }}/edit" class="btn btn-warning span4">Edit this profile</a>
    {% else %}
      {% ifequal request.user user %}
        <a href="/account/edit" class="btn btn-warning span4">Edit your profile</a></li>
      {% else %}
        <a href="/members/{{ user.id }}/message" class="btn btn-primary span4">Send this member a message</a>
	  {% endifequal %}
    {% endif %}
  </ul>

{% endblock %}