{% extends "kiosk/base.html" %}

{% block custom_headings %}
	{% if kiosk %}<meta http-equiv="refresh" content="600" />{% endif %}
{% endblock %}

{% block content %}

<ul class="bigeventgrid">{% for event in events %}
	<li class="event">
		{% include "member_views/event_list_stub.html" %}
	</li>
{% endfor %}</ul>

{% endblock content %}


{% block sidebar %}

{% if request.user.is_authenticated %}

<a href="/events/new" class="btn btn-danger btn-large">Add your own event</a>

<hr />

{% endif %}

<h2><em>tweet</em>@geekdom</h2>

<ul class="tweetfeed">{% for tweet in tweets %}

	<li class="tweet">
		<span class="content">{{ tweet.title|urlize }}</span>
		<span class="meta">{{ tweet.author }} @ {{ tweet.pp }}</span>
	</li>

{% endfor %}</ul>
 
{% endblock sidebar %}