{# spaceless #}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block custom_headings %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
         More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% if title %}{{ title|striptags }}{% else %}{% block title %}{% endblock %}{% endif %} // members.geekdom.com</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- html5 boilerplate reset stylesheet -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/kiosk_style.css">
    <link rel="stylesheet" href="{{ MEDIA URL }}css/events_hack.css">

    {{ form.media }}

</head>

<body class="{% if kiosk %}kiosk{% else %}desktop{% endif %}">
{# endspaceless #}

{% if needs_to_check_in %}

  <div class="modal hide fade" id="checkinModal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Hey {{ request.user.first_name }}, check in!</h3>
    </div>
    <div class="modal-body">
      <p>You're not currently checked in as being at Geekdom! Are you here?</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="/check_me_in/" class="btn btn-primary">I'm at Geekdom, Check me in!</a>
    </div>
  </div>

{% endif %}

{% if messages %}{% autoescape off %}
  <div id="headeralert_container">
    <div id="headeralert" class="span4 alert alert-{% if message.tags %}{{ message.tags }}{% else %}block{% endif %}">
      {% for message in messages %}
        {{ message|urlize }}
      {% endfor %}
    </div>
  </div>
{% endautoescape %}{% endif %}

<div id="body_container" class="container">

{% if not kiosk %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">members.geekdom.com</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/">Members</a></li>
          <li><a href="/events">Events</a></li>

  
          {% if request.user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community Links <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://groups.google.com/forum/#!forum/geekdomcommunity" target="blank">Geekdom Google Group</a></li>
                <li><a href="http://www.facebook.com/GeekdomSA" target="blank">Geekdom Facebook Page</a></li>
                <li><a href="/office_hours/">Mentor Office Hours</a></li>
                <li class="divider"></li>
                <li><a href="http://goo.gl/XiadN" target="_blank">Berners-Lee Reservations</a></li>
                <li><a href="http://goo.gl/nh4Vj" target="_blank">Licklider Reservations</a></li>
              </ul>
            </li>
          {% endif %}

          {% if request.user.is_superuser %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li{% ifequal tabsection "allmembers" %} class="active"{% endifequal%}>
                  <a href="/manager/"><i class="icon-list"></i> Geekdom Admin</a></li>
                <li{% ifequal tabsection "newmember" %} class="active"{% endifequal%}>
                  <a href="/manager/members/new"><i class="icon-plus-sign"></i> New Member</a></li>
                <li{% ifequal tabsection "newevent" %} class="active"{% endifequal%}>
                  <a href="/admin/manager/event/add/"><i class="icon-plus-sign"></i> New Event</a></li>
                <li><a href="/admin"><i class="icon-cog"></i> Django Admin</a></li>
              </ul>
            </li>
          {% endif %}


        </ul>

        <ul class="nav pull-right">
          {% if request.user.is_authenticated %}
            <li><a href="/accounts/{{ request.user.username }}">{{ request.user.get_full_name }}</a></li>
            <li><a href="/logout/">Logout</a></li>
          {% else %}
            <li><a href="/accounts/signin/">Login</a></li>
          {% endif %}
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

{% endif %}

{% if not request.user.is_authenticated %}

  <div id="cta-banner">
    <p><a href="http://geekdom.com">Not a member? Sign up at geekdom.com!</a></p>
  </div>

{% endif %}
    
    <div class="container clearfix">	    
		
		<div class="row">

			<div id="content_body" class="span8"><div class="inner">

        <div id="header">
          <h1>{% autoescape off %}{{ title }}{% endautoescape %}</h1>
          {% if subtitle %}<span class="profilepage_subheader">{{ subtitle }}</span>{% endif %}
        </div>

				{% block content %}{% endblock content %}

			</div></div>

			<div id="content_sidebar" class="span4"><div class="inner">

				{% block sidebar %}{% endblock sidebar %}

			</div></div>

		</div>
			    
    </div>

</div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap-dropdown.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
  
  <script>
      $(document).ready(function () {
          $('.dropdown-toggle').dropdown();
      });
	  
	  $('input#search').quicksearch('table tbody tr', {});	  
  </script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
  <!--<script type="text/javascript" src="http://use.typekit.com/zpa2qby.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->

  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
  
  <script>
      $(document).ready(function () {
          $('.dropdown-toggle').dropdown();
      });
    
    $('input#search').quicksearch('.sidebarmemberlist li', {});

    $('#headeralert_container').delay(5000).slideUp();

    $('#checkinModal').delay(1000).modal('show')

  </script>


</body>
</html>