{# screen 1 #}

{% extends "kiosk/base.html" %}

{% block custom_headings %}{% if kiosk %}
    <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
      };

      // Flash fallback logging - don't include this in production
      WEB_SOCKET_DEBUG = true;

      var pusher = new Pusher('67d69cb806cd4c1db8b7');
      var channel = pusher.subscribe('geekdom');
      channel.bind('checkin', function(data) {
        location.reload(true);
      });

      channel.bind('checkout', function(data) {
        location.reload(true);
      });

    </script> 
{% endif %}{% endblock %}

{% block content %}

<ul class="bigmembergrid clearfix">{% for user in users %}
	<li class="member">
		<a href="{% if kiosk %}/kiosk/{{ user.id }}{% else %}/accounts/{{ user.username }}{% endif %}">
		
			<span class="memberofficenum{% if user.get_profile.is_checked_in %} herenow{% endif %}">{% if user.get_profile.office_num %}Office {{ user.get_profile.office_num }}{% else %}&nbsp;{% endif %}</span>
		
		<img class="user_profilepic floatleft" src="{{ user.my_profile.get_mugshot_url }}" alt="{{ user.get_full_name }}" />
		<span class="membername">{{ user.get_full_name }}</span>

		{% if user.get_profile.company_name %}
			<span class="membercompanyname">{{ user.get_profile.company_name }}</span>
		{% endif %}

		{% if user.get_profile.skills %}
			<span class="memberskills">{{ user.get_profile.skills|truncatewords:10 }}</span>
		{% endif %}
			
	</a></li>
{% endfor %}</ul>

{% ifnotequal request.path "/" %}
	<hr class="spacer" />
	<ul id="pageactions">
	<li><a href="{% if kiosk %}/kiosk/{% else %}/{% endif %}" class="btn btn-primary"><i class="icon-white icon-arrow-left"></i> Back to the member list</a>
	</ul>{% endifnotequal %}
{% endblock content %}


{% block sidebar %}
	{% include "kiosk/member_sidebar.html" %}
{% endblock sidebar %}