{# screen 1 #}

{% extends "kiosk/base.html" %}

{% block custom_headings %}{% if kiosk %}<meta http-equiv="refresh" content="300;url=http://members.geekdom.com/kiosk/"/>{% endif %}{% endblock %}

{% block content %}

<ul class="bigmembergrid clearfix">{% for user in users %}
	<li><a href="{% if kiosk %}/kiosk/{{ user.id }}{% else %}/accounts/{{ user.username }}{% endif %}">
		{% if user.get_profile.office_num %}
			<span class="memberofficenum">Office {{ user.get_profile.office_num }}</span>
		{% endif %}
		<img class="user_profilepic floatleft" src="{{ user.my_profile.get_mugshot_url }}" alt="{{ user.get_full_name }}" />
		<span class="membername">{{ user.get_full_name }}</span>

		{% if user.get_profile.company_name %}
			<span class="membercompanyname">{{ user.get_profile.company_name }}</span>
		{% endif %}

		{% if user.get_profile.skills %}
			<span class="memberskills">{{ user.get_profile.skills|truncatewords:10 }}</span>
		{% endif %}
			
	</a></li>
{% endfor %}</ul>

{% ifnotequal request.path "/" %}
	<hr class="spacer" />
	<ul id="pageactions">
	<li><a href="{% if kiosk %}/kiosk/{% else %}/{% endif %}" class="btn btn-primary"><i class="icon-white icon-arrow-left"></i> Back to the member list</a>
	</ul>{% endifnotequal %}
{% endblock content %}


{% block sidebar %}
	{% include "kiosk/member_sidebar.html" %}
{% endblock sidebar %}