{# screen 1 #}

{% extends "kiosk/base.html" %}

{% block custom_headings %}
	<meta http-equiv="refresh" content="300;url=http://localhost:8000/kiosk1/"/>
{% endblock %}

{% block content %}

{% if user.my_profile.is_checked_in %}
	<div class="userstatus">{{ user.first_name }} is here now!</div>
{% endif %}


<div id="header" class="userprofile_page">
	<img class="user_profilepic floatleft" src="{{ user.my_profile.get_mugshot_url }}" alt="{{ user.get_full_name }}" />
	<h1>{{ user.get_full_name }}</h1>
</div>

<span class="profilepage_subheader">
	{% if user.get_profile.company_name %}{{ user.get_profile.company_name }}, {% endif %}
	{% if user.get_profile.office_num %}
		Office {{ user.get_profile.office_num }}
	{% else %}
		Community Member
	{% endif %}
</span>

<span class="profilepage_membersince">Member since {{ user.date_joined|date:"m/d/y" }}</span>

<hr />

{% if user.get_profile.bio %}
	<div class="profilepage_bio">{{ user.get_profile.bio|linebreaks }}</div>
{% endif %}

{% if user.get_profile.skills %}
	<p class="user_skills"><strong>Skills:</strong> {{ user.get_profile.skills }}</p>
{% endif %}

{% if user.get_profile.available_for_office_hours %}
	<p class="profilepage_officehours"><strong>Office hours:</strong> {{ user.get_profile.available_for_office_hours }}</p>
{% endif %}

<hr />

<div class="profilepage_contactinfo">
	{% if user.email %}<p><strong>Email:</strong> {{ user.email }}</p>{% endif %}
	{% if user.get_profile.phone_number %}<p><strong>Phone:</strong> {{ user.get_profile.phone_number }}</p>{% endif %}
	{% if user.get_profile.gchat %}<p><strong>gChat:</strong> {{ user.get_profile.gchat }}</p>{% endif %}
	{% if user.get_profile.skype %}<p><strong>Skype:</strong> {{ user.get_profile.skype }}</p>{% endif %}
	{% if user.get_profile.twitter %}<p><strong>Twitter:</strong> <a href="{{ user.get_profile.twitter }}" target="_blank">{{ user.get_profile.twitter }}</a></p>{% endif %}
	{% if user.get_profile.facebook %}<p><strong>Facebook:</strong> <a href="{{ user.get_profile.facebook }}" target="_blank">{{ user.get_profile.facebook }}</a></p>{% endif %}
	{% if user.get_profile.linkedin %}<p><strong>LinkedIN:</strong>  <a href="{{ user.get_profile.linkedin }}" target="_blank">{{ user.get_profile.linkedin }}</a></p>{% endif %}
	{% if user.get_profile.website %}<p><strong>Website:</strong>  <a href="{{ user.get_profile.website }}" target="_blank">{{ user.get_profile.website }}</a></p>{% endif %}
</div>

<hr />

<ul id="pageactions">
	<li><a href="/kiosk1/" class="btn btn-primary"><i class="icon-white icon-arrow-left"></i> Back</a>
	{% if user.my_profile.is_checked_in %}
		<li><a href="/kiosk1/{{ user.id }}/checkout" class="btn btn-danger"><i class="icon-white icon-ok"></i> Check {{ user.first_name }} out!<em></em></a>
	{% else %}
		<li><a href="/kiosk1/{{ user.id }}/checkin" class="btn btn-success"><i class="icon-white icon-remove"></i> Check {{ user.first_name }} in!<em></em></a>
	{% endif %}
		<li class="spacer">( if this is you! )</li>
</ul>

{% endblock content %}


{% block sidebar %}{% include "kiosk/sidebar.html" %}{% endblock sidebar %}