{% extends "kiosk/base.html" %}

{% block custom_headings %}
	{% if kiosk %}<meta http-equiv="refresh" content="600" />{% endif %}
{% endblock %}

{% block content %}

<ul class="bigeventgrid">{% for event in events %}
	<li class="event{% if event.private_event %} private{% endif %}">
		<span class="name"><a href="/events/{{ event.id }}">{{ event.name }}</a></span>
		<span class="dateinfo1">{{ event.starts_at|date:"l, F jS" }}</span>
		<span class="dateinfo2">from {{ event.starts_at|date:"P" }} - {{ event.ends_at|date:"P" }}</span>
		{% if kiosk %}
			<span class="description">{{ event.description|truncatewords:60 }}</span>
		{% else %}
			<span class="description">{{ event.description|truncatewords:200 }}</span>
		{% endif %}
		<span class="hosted_by">Hosted by {{ event.added_by.get_full_name }}</span>
	</li>
{% endfor %}</ul>

{% endblock content %}


{% block sidebar %}

<h2>Add your event</h2>

 
{% endblock sidebar %}