{% extends 'kiosk/base.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}

<h1>Change your password</h1>

<form action="" method="post" id="password_change_form">
  <fieldset>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="{% trans "Change password" %}" />
</form>

{% include "userena/user_actions.html" %}


{% endblock %}

{% block sidebar %}
  {% include "kiosk/member_sidebar.html" %}
{% endblock sidebar %}
