{% extends 'kiosk/base.html' %}
{% load i18n %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}

<h1>Sign in</h1>

<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'remember_me' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    {{ field.label_tag }}
    {{ field }}
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>

  <button type="submit" class="btn btn-primary btn-large">Sign in</button>

  <hr />

 <a href="{% url userena_password_reset %}" title="Forgot your password?" class="btn btn-small">Forgot your password?</a>

  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>

{% endblock %}

{% block sidebar %}
  {% include "kiosk/member_sidebar.html" %}
{% endblock sidebar %}