{% extends "global/base.html" %}


{% block content-top %}
<div class="breadcrumb">
    <a href="/events">All Events</a> &raquo; 
</div>
{% endblock %}

{% block content %}

<p class="dateinfo">{{ event.starts_at }} until {{ event.ends_at }}
<p class="description">{{ event.description }}</p>
<p class="hosted_by">Hosted by {% for host in event.hosts.all%}{{ host }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p class="attendees">{{ event.attendee_count }} Attendees: {% for attendee in event.attendees.all%}{{ attendee }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

<hr />

{% if event in request.user.events_attending.all %}
    <p><a href="/events/{{ event.id }}/unrsvp">I will not be attending this event</a></p>
{% else %}
    <p><a href="/events/{{ event.id }}/rsvp">I will be attending this event</a></p>
{% endif %}

{% endblock %}

{% block sidebar %}

<ul class="sidebar_menu">
  {% if request.user.is_superuser %}
    <li><a href="/events/{{ event.id }}/edit">Edit this event</a></li>
    <li><a href="/events/new">Create a new event</a></li>
  {% endif %}
</ul>

{% if event.forum %}

  <hr />

  <h2>Discussion Forum: {{ event.forum.name }}</h2>

  <p>Active threads:</p>

  {% for thread in event.forum.thread_set.all %}
      {% include "forum/_thread_compact.html" %}
  {% endfor %}

{% endif %}

  {% endblock %}