{% extends "global/base.html" %}

{% block content %}

<ul class="forum_list">
    
    {% for forum in forums %}
        <li class="forum_listing">
            <h2 class="name"><a href="/forums/{{ forum.id }}">{{ forum.name }}</a></h2>
            <p class="description">{{ forum.description }}</p>
            <p class="metainfo">{{ forum.total_replies }} Replies in {{ forum.thread_set.count }} Threads</p>
        </li>
    {% endfor %}

</ul>

{% endblock %}

{% block sidebar %}

{% if request.user.is_superuser %}
  <ul class="sidebar_menu">
    <li><a href="/forums/new">Create new forum</a></li>
  </ul>
{% endif %}

{% endblock %}