{% extends "global/base.html" %}

{% block content-top %}
<div class="breadcrumb">
    <a href="/forums">All Forums</a> &raquo; 
    <a href="/forums/{{ thread.forum.id }}">{{ thread.forum.name }}</a>
</div>
{% endblock %}

{% block content %}

<p class="thread_metainfo">{{ thread.body|linebreaks }}</p>

<ul class="forum_list">
    
    {% for reply in thread.reply_set.all %}
        <li class="reply_listing clearfix">

            <div class="reply_metainfo clearfix">
                <div class="left">{{ reply.user.userprofile.cname }}</div>
                <div class="right">{{ reply.created_on|date:"m/d/y @ P" }}</div>
            </div>

            <div class="body">
                {{ reply.body|linebreaks }}
            </div>

        </li>
    {% endfor %}

</ul>

<hr />

<a name="reply"></a>
<h3>Reply:</h3>

<form action="/forums/{{ thread.forum.id }}/{{ thread.id }}/reply/" method="post" enctype="multipart/form-data">

	<ul>
		{{ form.body }}
	</ul>


	{% csrf_token %}
	<input type="submit" value="Submit" />

</form>

{% endblock %}

{% block sidebar %}

<ul class="sidebar_menu">
  <li><a href="#reply">Reply to this thread</a></li>
</ul>

{% if thread.forum.event_set.all %}

    <hr />

    <h2>Upcoming events:</h2>

    {% for event in thread.forum.event_set.all %}
        {% include "forum/_event_compact.html" %}
    {% endfor %}

{% endif %}


{% endblock %}